<div id="sidebar">
  {{ if $.Site.Params.portrait }}
  <a href="/">
    <img class="logo animated flipInY" src="{{ $.Site.Params.portrait | absURL }}"/>
  </a>
  {{ end }}

  <h2>Overview</h2>
  <ul>
    {{ range .Site.Menus.main }}
      <li><a href="{{.URL}}">{{ .Name }}</a></li>
    {{end}}
  </ul>

  <h2>Projects</h2>
  <ul>
    {{ range .Site.RegularPages }}
      {{ if eq .Type "projects" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>

  <h2>Development Guide</h2>

  <h2>Organization</h2>
  <ul>
    {{ range .Site.RegularPages }}
      {{ if eq .Type "org" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>

  <h2>Front End</h2>
  <ul>
    {{ range .Site.RegularPages }}
      {{ if eq .Type "frontend" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>

  <h2>Back End</h2>
  <ul>
    {{ range .Site.RegularPages }}
      {{ if eq .Type "backend" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
  